@import molecules/textos

@import organisms/habilidades


header
	min-height: 335px
	margin: 0 0 25px

	background:
		image: url('../imagens/capa2.jpg')
		position: top center
		repeat: no-repeat
		color: $cor1
		attachment: fixed
		size: cover




	h1
		//clear: both
		margin: 100px auto 30px auto !important
		//font-weight: $light
		//border: 3px solid $branco
		//padding: 20px
		//text-align: center
		//display: table
		//+breakpoint($celular)
		//	+font-size(30px)

	//h1,
	//p
	//	color: $cinza1
	//	text-align: center
	//	text-transform: uppercase

.botao
	display: table 
	margin: 0 auto
	clear: both
